body{
    background-color: black;

}
p{
    color: beige;
    margin: 50px;
    border: 2px solid;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    color: bisque;
    font-family: monospace;
}
h2{
    color:aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}